body {
    margin: 0;
    padding: 0;
    background-color: grey
}

#map {
    width: 100%;
    height: 400px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    text-shadow: 6px 4px 5px #666;
    -webkit-box-shadow: 9px 6px 15px #666;
    -moz-box-shadow: 9px 6px 15px #666;
    box-shadow: 9px 6px 15px #666;
    font-family: Arial;
    color: #fff;
    font-size: 24px;
    padding: 19px;
    border: solid #dfe1e3 9px;
    text-decoration: none;
    max-width: 40%;
    margin: 5px
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none
}

.register .nav-tabs .nav-link:hover {
    border: none
}

.text-align {
    margin-top: -3%;
    margin-bottom: -9%;
    padding: 10%;
    margin-left: 30%
}

.form-new {
    margin-right: 22%;
    margin-left: 20%
}

.register-heading {
    margin-left: 21%;
    margin-bottom: 10%;
    color: #e9ecef
}

.register-heading h1 {
    margin-left: 21%;
    margin-bottom: 10%;
    color: #e9ecef
}

.register {
    background: -webkit-linear-gradient(left, #055a4f, #00c6ff);
    margin-top: 3%;
    padding: 3%;
    border-radius: 2.5rem
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #03612e;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    color: rgb(246, 246, 252);
    margin-top: 4%;
}

.form-control {
    margin: 2%;
    width: 70%;
    height: 20px
}

.map-link {
    text-decoration: none;
    color: honeydew;
}
